<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
>
<head>
    <meta charset="UTF-8">
    <title>List-Article</title>
</head>
<body>
<div layout:fragment="mainContent">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card" style="margin-top:10px ">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Author</th>
                                    <th>Description</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="article,state:${articles}" th:object="${article}">
                                    <td th:text="${state.count}">ID</td>
                                    <td th:text="*{author}">AUTHOR</td>
                                    <td th:text="*{title}">TITLE</td>
                                    <td th:text="*{description}">DESCRIPTION</td>
                                    <td th:text="*{category}">CATEGORY</td>
                                    <td><i class="fas fa-edit"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
</body>
</html>