<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" th:href="@{/css/icheck-bootstrap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <title>Success</title>
</head>
<body>
<div class="container">
    <div class="alert alert-default-success mt-3">
        You have saved successfully!
    </div>
    <a th:href="@{/admin/article}"><button type="button" class="btn btn-outline-success">Back</button></a>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
</body>
</html>